/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

.post.featured {
  border: solid 2px orange;
}

.featured h3 {
  color: blue;
}

.posts {
  width: 500px;
  margin-right: auto;
  margin-left: auto;
  background-color: rgb(158,158,158);
}

.post {
  width: 500px;
  background-color: rgb(245,245,245);
  padding: 20px;
}
